include /src/ui/index.pug

html(lang="en")
  head
    include /src/ui/document/head.pug
    include /src/ui/document/window-height-script.pug

  body
    .app-wrapper#app
    script(defer src="../modules/index-arjs.tsx")
